<?xml version="1.0" encoding="UTF-8" ?>
<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="net.whentheresawill.sitepass" 
    version="1.0.0.1">
    
    <name>sitePass</name>
    <description>A unique password generator</description>
    <author email="will@whentheresawill.net"
    href="http://whentheresawill.net">Will</author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="android-targetSdkVersion" value="17" />
    
    <icon src="res/icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
    <icon src="res/icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
    <icon src="res/icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
    <icon src="res/icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>
    <icon src="res/icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi"/>
</widget>